{% extends 'base.html' %}

{% block content %}

{% if error %}
{{ error }}
{% endif %}

<hi>회원가입</h1>
<form action="" method="post">
    {% csrf_token %}
    <label for="">아이디</label>
    <input type="text" name="username" id="id_username">
    <br>
    <label for="">이메일</label>
    <input type="email" name="email" id="id_email">
    <br>
    <label for="">비밀번호</label>
    <input type="password" name="password" minlength="8" maxlength="24" id="id_password">
    <br>
    <label for="">비밀번호확인</label>
    <input type="password" name="password1" minlength="8" maxlength="24" id="id_password1">
    <br>
    <input type="submit" value="가입하기">
</form>
{% endblock content %}