{% extends 'base.html' %}

{% block title %}

{% endblock title %}


{% block content %}

<div class="card-group">
{% for portfolio in portfolios %}
    <div class="card" style="max-width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-header">
        {% if portfolio.is_main == True %}
        <a href="{% url 'portfolios:open' portfolio.id %}">(main){{portfolio.name}}</a>
        {% else %}
        <a href="{% url 'portfolios:open' portfolio.id %}">{{portfolio.name}}</a>
        {% endif %}
        </div>
        <div class="card-body">
            <a href="{% url 'data_user:quickcreate_menu' portfolio.id %}">Quick Create</a>
        </div>
        <div class="card-footer">
            <a href="{% url 'portfolios:delete' portfolio.id %}">삭제하기</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if portfolio.is_main == True %}
            <a href="{% url 'portfolios:main' portfolio.id %}">(main해제)</a>
            {% else %}
            <a href="{% url 'portfolios:main' portfolio.id %}">(main으로설정)</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
    <div class="card" style="max-width: 18rem;">
        <div class="card-body">
            {% if len_portfolios > 1 %}
            추가 생성이 불가능합니다.(자물쇠이미지)
            {% else %}
            <a href="{% url 'portfolios:create' %}" class="btn btn-primary">생성하기(+이미지)</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}