{% extends 'base.html' %}

{% load static %}

{% block title %}

{% endblock title %}


{% block content %}

<div class="card-group">
{% for portfolio in portfolios %}
    <div class="card" style="max-width: 20rem; background-color: #212121;" >
        {% if portfolio.is_main == True %}
        <a href="{% url 'portfolios:open' portfolio.id %}">
        <img class="card-img-top" src="{% static "/img/mainbook.png" %}" alt="...">
        </a>
        {% else %}
        <a href="{% url 'portfolios:open' portfolio.id %}">
        <img class="card-img-top" src="{% static "/img/book.png" %}" alt="...">
        </a>
        {% endif %}
        <div class="card-header">
        <a href="{% url 'portfolios:open' portfolio.id %}">{{portfolio.name}}</a>
        </div>
        <div class="card-body">
            <a href="{% url 'data_user:quickcreate_menu' portfolio.id %}">Quick Create</a>
        </div>
        <div class="card-footer">
            <a href="{% url 'portfolios:delete' portfolio.id %}">삭제하기</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {% if portfolio.is_main == True %}
            <a href="{% url 'portfolios:main' portfolio.id %}">(main해제)</a>
            {% else %}
            <a href="{% url 'portfolios:main' portfolio.id %}">(main으로설정)</a>
            {% endif %}
        </div>
    </div>
{% endfor %}
    <div class="card" style="max-width: 20rem; background-color: #212121;">
        {% if len_portfolios > 1 %}
            <img class="card-img-top" src="{% static "/img/lock.png" %}" alt="...">
        {% else %}
            <a href="{% url 'portfolios:create' %}" class="card-img-top">
            <img class="card-img-top" src="{% static "/img/plus.png" %}" alt="Card image cap">
            </a>
        {% endif %}
    </div>
</div>

{% endblock content %}