{% extends 'base.html' %}

{% block title %}

{% endblock title %}


{% block content %}

<a href="{% url 'data_user:quickcreatemenu' id_portfolio %}">빠른생성메뉴로가기</a>

<hr>

<br>

<form method="GET" action="">
  <div class="form-group">
    <label for="exampleFormControlSelect1">select format</label>
    <select class="form-control" id="exampleFormControlSelect1">
    {% for format in accountsformats %}
    <option>{{format.title}}</option>
    {% endfor %}
    </select>
  </div>
</form>

<br>

<hr>

{% endblock content %}