{% extends 'base.html' %}

{% block title %}

{% endblock title %}


{% block content %}

{% if error %}
{{ error }}
{% endif %}

<a href="{% url 'data_user:quickcreate_menu' id_portfolio %}">빠른생성메뉴로가기</a>

<hr>

<br>

<form method="POST" action="">
  {% csrf_token %}
  <input type="hidden" name="complete" value="n">
  <div class="form-group">
    <label for="">select account</label>
    <select name='account' required class="form-control" id="">
      {% for account in accounts %}
        {% if selected_maker == account.id|slugify %}
        <option selected value="{{account.id}}">{{account.title}} {{account.nickname}}</option>
        {% else %}
        <option value="{{account.id}}">{{account.title}} {{account.nickname}}</option>
        {% endif %}
      {% endfor %}
    </select>

    계좌가 없으면 등록해주세요
    <a href="{% url 'data_user:register_account' id_portfolio kind %}" class="btn btn-primary">새로운 account 등록하러 가기</a>
  </div>

  <br>

  <div class="form-group">
    {% if error %}
    {{ error }}
    {% endif %}
    <label for="">ticker symbol을 정확히 입력하세요</label>
    <input type="text" name="code" class="form-control" list="symbols" id="">

    <datalist id="symbols">
    {% for tickersymbol in tickersymbols %}
    <option value="{{tickersymbol.symbol}}">{{tickersymbol.longName}}</option>
    {% endfor %}
    </datalist>
  </div>

  <br>

  <div class="form-group">
    <label for="">수량을 입력하세요</label>
    <input type="number" name="amount" class="form-control" id="">
  </div>

  <br>
  {% if len_list %}
    <input type="hidden" name="len_list" value="{{len_list}}">
      
    {% for dic in list_for_create %}
      <input type="hidden" name="account_id{{forloop.counter0}}" value="{{dic.account_id}}">
      <input type="hidden" name="ticker{{forloop.counter0}}" value="{{dic.ticker}}">
      <input type="hidden" name="amount{{forloop.counter0}}" value="{{dic.amount}}">
    {% endfor %}

  {% endif %}

  <input type="submit" value="register">
</form>

<br>

<hr>
{% regroup list_for_create|dictsort:"account_id" by account_id as account_list %}
{% for account_id in account_list %}
<div class="card" style="">
  <div class="card-header">
  {% for account in accounts %}
  {% if account.id|slugify == account_id.grouper %}
  {{account.title}} {{account.nickname}}
  {% endif %}
  {% endfor %}
  </div>
  <ul class="list-group list-group-flush">
    {% for ticker in account_id.list %}
    <li class="list-group-item">{{ticker.ticker|upper}} {{ticker.amount}}</li>
    {% endfor %}
  </ul>
</div>
<br>
{% endfor %}


{% if len_list %}
<form action="" method="POST">
{% csrf_token %}
  <input type="hidden" name="complete" value="y">
  <input type="hidden" name="len_list" value="{{len_list}}">
  {% for dic in list_for_create %}
    <input type="hidden" name="account_id{{forloop.counter0}}" value="{{dic.account_id}}">
    <input type="hidden" name="ticker{{forloop.counter0}}" value="{{dic.ticker}}">
    <input type="hidden" name="amount{{forloop.counter0}}" value="{{dic.amount}}">
  {% endfor %}
  <input type="submit" value="complete">
{% endif %}
</form>

<br>

<hr>

{% endblock content %}