{% extends 'base.html' %}

{% block title %}

{% endblock title %}


{% block content %}

<a href="{% url 'data_user:quickcreate_menu' id_portfolio %}">빠른생성메뉴로가기</a>

<hr>

<br>

<form method="POST" action="">
  <div class="form-group">
    <label for="exampleFormControlSelect1">select account</label>
    <select class="form-control" id="exampleFormControlSelect1">
    {% if accounts %}
        {% for account in accounts %}
        <option>{{account.title}} {{account.nickname}}</option>
        {% endfor %}
    {% else %}
        <option>계좌 없음 / 계좌를 등록해주세요</option>
    {% endif %}
    </select>
  </div>
</form>

<br>

<a href="{% url 'data_user:register_account' id_portfolio kind %}" class="btn btn-primary">새로운 account 등록하러 가기</a>

<hr>

{% endblock content %}