{% extends 'base.html' %}

{% block title %}

{% endblock title %}


{% block content %}

<a href="{% url 'data_user:quickcreate_menu' id_portfolio %}">빠른생성메뉴로가기</a>

<hr>

<br>

<form method="POST" action="">
  {% csrf_token %}
  <div class="form-group">
    <label for="">없으면 직접 입력해주세요. 리스트에 포함시키겠습니다.</label>
    <input type="text" name="title" class="form-control" list="titles" id="">
    <datalist id="titles">
    {% for title in titles %}
    <option>{{title.title}}</option>
    {% endfor %}
    </datalist>
  </div>

  <div >
    <label for="">이 account의 별칭을 지어주세요</label><br>
    <input type="text" name="nickname" value="">
  </div>

  <input type="submit" value="register">
</form>

<br>

<hr>

{% endblock content %}