{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Lapiki | {% block title %}
        {% endblock title %}
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body style="background-color:#000000">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #000000;">
            <div class="container-fluid">
            {% if home != 'y' %}
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static "/img/logo.png" %}" width="100" alt="">
                </a>
            {% endif %}
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            {{user.username}} 님</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'portfolios:hall' %}">포트폴리오</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'accounts:logout' %}">로그아웃</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="{% url 'accounts:login' %}">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'accounts:signup' %}">회원가입</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

</body>

</html>
